.Container{
    margin-left: 0%;
    margin-top: 50px;
    width:200px;
    height:100%;
    border-radius: 10px;
    background-color:grey;
    position: fixed;
}
.dis
{
    color: white;
    font-size: medium;
    text-align: center;
}
.cat 
{
    color:white;
    font-size:medium;
    text-align: center;
}