.container{
    border:1px solid;
    width:100%;
    height:80px;
    text-align: center;
    background-color: rgb(211, 193, 196);
    margin: 4px 2px;
    border-radius: 12px;
    display:flex;
    /* align-items: center; */
    /* justify-content:center; */
    padding-left: 85%;
    
    
    
    
 } 
 .dis{
    padding:15px;
    justify-content: right;
 }
 
    
