.container {
    padding: 20px;
    font-family: Arial, sans-serif;
    border: 1px solid #161515;
    border-radius: 8px;
    background-color: #f9f9f9;
    width: 400px;
    height: auto;
    margin: 100px auto;     /* centers the container */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 5px rgba(203, 193, 7, 0.1);
}

.filed {
    margin-left:20px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    cursor: crosshair;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}